@use "~/styles/theme.module";

.contactForm {
	display: flex;
}

.intro {
	flex: 1;
	padding: 0 60px;
	padding-bottom: 50px;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
}

.form {
	flex: 1;
}

@media (max-width: theme.$breakpont-mobile) {
	.contactForm {
		flex-direction: column;
	}

	.intro {
		padding-bottom: 0;

		h1 {
			margin-bottom: 0;
		}

		p {
			display: none;
		}
	}
}
