@use "~/styles/theme.module";

.button {
  position: relative;
  padding: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1000;

  @media (min-width: theme.$breakpont-mobile) {
    display: none;
  }
}

$size: 2.5rem;

.burger {
  position: relative;
  width: $size;
  height: $size;

  &::before,
  &::after {
    content: " ";
  }
}

.middle,
.burger::before,
.burger::after {
  position: absolute;
  left: 0;
  right: 0;
  height: 0.3rem;
  background-color: var(--text-color);
  border-radius: 0.15rem;
}

.middle {
  top: calc(50% - 0.15rem);
}

.burger::after {
  bottom: 0;
}

.open {
  .middle {
    display: none;
  }

  .burger::before {
    transform: rotate(45deg);
    margin-top: 1.1rem;
  }

  .burger::after {
    transform: rotate(-45deg);
    margin-bottom: 1.1rem;
  }
}
