@use "~/styles/theme";

.title {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 5rem;
}

.date {
  text-transform: uppercase;
  font-size: 1.4rem;
}

.article {
  line-height: 3rem;

  img {
    display: block;
    width: 80%;
    margin: 1rem auto;
  }

  h2 {
    margin-top: 6rem;
    margin-bottom: 1.6rem;
  }
}

.shareBar {
  padding-top: 4rem;
  padding-bottom: 2rem;
  border-bottom: 0.1rem solid var(--text-color);
}

.comments {
  margin-top: 4rem;
}

@media (max-width: theme.$breakpont-mobile) {
  .article {
    pre {
      margin-left: calc(var(--main-padding) * -1);
      margin-right: calc(var(--main-padding) * -1);
      max-width: 100vw;
    }

    img {
      width: 90%;
    }
  }
}

