.footer {
  font-size: 1.2rem;
  color: var(--text-color);
  margin-top: 4rem;
  font-family: monospace;
  padding-left: 2rem;
}

.footer::selection {
  background-color: var(--background-color);
}

.blue::selection {
  background-color: #0044cd;
  color: #fff;
  opacity: 1;
}

.yellow::selection {
  background-color: #fcd116;
  color: #24292F;
  opacity: 1;
}

.red::selection {
  background-color: #ce1126;
  color: #fff;
  opacity: 1;
}

.legal {
  margin-top: 0.5rem;

  a {
    margin: 0 1rem;
  }

  a:first-child {
    margin-left: 0;
  }
}

@media print {
  .legal {
    display: none;
  }
}
