@use "~/styles/colors";

.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 15rem;
}

.nav {
  ul {
    list-style: none;
    margin: 0;

    li {
      display: inline-block;
      margin: 1rem;

      a {
        text-decoration: none;
        color: colors.$text-color;
      }
    }
  }
}

.toggleWrap {
  width: 15rem;
}
