.nav {
  ul {
    list-style: none;
    margin: 0;

    li {
      display: inline-block;
      margin: 0 1rem;

      a {
        text-decoration: none;
        color: var(--text-color);
        font-size: 2.5rem;
        font-weight: bold;
        text-transform: uppercase;
      }

      @supports (-webkit-text-stroke: 1px black) {
        a.active {
          -webkit-text-fill-color: var(--text-color);
        }
      }

      @supports not (-webkit-text-stroke: 1px black) {
        a.active {
          color: var(--text-color);
          text-shadow: none;
        }
      }
    }
  }
}
