@use "~/styles/theme.module";

$animationDuration: 0.3s;

.backToTop {
  position: fixed;
  right: 5rem;
  bottom: -3rem;
  text-align: center;
  opacity: 0;
  transition: bottom $animationDuration, opacity $animationDuration;
  line-height: 1rem;
  text-transform: uppercase;
  cursor: default;
}

.button {
  display: block;
  background-color: var(--text-color);
  color: var(--background-color);
  width: 3rem;
  height: 3rem;
  border-radius: 20%;
  font-size: 2rem;
  line-height: 2.7rem;
  margin-bottom: -0.1rem;
  cursor: pointer;
  border: 0.5rem solid var(--background-color);

  &:hover {
    text-decoration: none;
  }
}

.text {
  background-color: var(--background-color);
  padding: 0 0.2rem;
  border-radius: 0.3rem;
  font-size: 1rem;
}

[data-page-scrolled] .backToTop {
  display: block;
  bottom: 3rem;
  opacity: 1;
}

@media (max-width: theme.$breakpont-mobile) {
  .backToTop {
    right: 3rem;
  }
}
