.button {
  position: fixed;
  bottom: 3rem;
  right: 5rem;
  display: none;
  background-color: var(--text-color);
  color: var(--background-color);
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 20%;
  text-align: center;

  &:hover {
    text-decoration: none;
  }
}

[data-scrolled] .button {
  display: block;
}
