.feature {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
	background-color: var(--code-bkg-color);
	padding: 5rem;
}

.icon {
	height: 7rem;
	margin-bottom: 3rem;
}

.button {
	cursor: pointer;
	background-color: var(--text-color);
	color: var(--background-color);
	border: none;
	padding: 1rem;
	font-family: 'Poppins', sans-serif;

	margin-top: 1rem;
}

.smallButton {
	padding: 0.5rem;
	line-height: 1rem;
	margin-top: 0;
	height: 2rem;
}

.enabledBar {
	display: flex;
	flex-direction: row;
	align-items: center;

	background-color: var(--code-bkg-color);
	font-size: 1.4rem;
	padding: 0 0.5rem;
}

.enabledBarMessage {
	flex: 1;
}
