.pageTitle {
  font-size: 7rem;
  line-height: 7.5rem;
}

.pageSubtitle {
  font-size: 5rem;
  line-height: 5.5rem;
  margin-bottom: 1.5rem;
  opacity: 0.5;
}

.hr {
  margin: 5rem 0;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 4rem;
}

.featured {
  background-color: var(--code-bkg-color);
}


