@use "~/styles/vars";
@use "~/styles/theme";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5rem 4rem;
  background-color: var(--background-color);
  transition: background-color vars.$transitionDuration;
  margin: 0 -#{vars.$pagePadding};
  margin-top: 1rem;
  z-index: 2;
}

[header-scrolled] .header {
  transition: box-shadow 0.5s;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.5);
  transform: translateZ(2rem);
}

.logo {
  width: 15rem;
  vertical-align: middle;

  path {
    stroke: var(--text-color);
  }
}

.rightWrap {
  display: flex;
  align-items: center;
  gap: 2rem;
}


@media (max-width: theme.$breakpont-mobile) {
  .socialIcons {
    display: none;
  }
}
