@use "theme";

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  text-rendering: optimizeLegibility;
}

html, body ,pre, code {
  transition: background-color 0.3s, color 0.3s;
}


html {
  font-size:62.5%;
}

body {
  font-size: 1.6rem;
  padding: 5rem;
}
